.testimonials {
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 2rem;
}

.testimonials-sections {
    display: flex;
    gap: 2rem;
}

.testimonials-section {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.testimonials-section img {
    width: 100px;
    height: 100px;
}

.testimonials-info {
    display: flex;
    gap: 2rem;
}

@media (max-width: 932px)  {
    .testimonials {
        width: 100%;
    }
    .testimonials-sections {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}
